<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--Database connection settings given in properties file-->

        <!--drop or re-create database schema at startup-->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!--Annotated entity class-->
        <mapping class="com.model.User"/>
        <mapping class="com.model.Topic"/>
        <mapping class="com.model.Subscription"/>
        <mapping class="com.model.Resource"/>
        <mapping class="com.model.LinkResource"/>
    </session-factory>
</hibernate-configuration>